.normaltext {
  padding-left: 230px;
  font-family:'Bebas Neue';
  letter-spacing: 5px;
  position: inherit; 
  margin-top: -25px;
}

.paragraph {
  padding-left: 230px;
  font-family: Arial, Helvetica, sans-serif;
  position: inherit; 
  margin-top: -25px;
  color: white;
}

h2.datetitle {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #0028da;
}

.centerIMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button.button_socials {
  text-align: center;
  font-size: medium;
  padding: 15px 25px;
  font-family:'Ubuntu', sans-serif;
  display: inline-flexbox;
}

.sidenav {
  height: 100%; 
  width: 220px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: rgb(27, 24, 36);
  overflow-x: hidden; 
  padding-top: 20px;
  font-family: 'Ubuntu';
}


.sidenav a {
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ebebeb;
  display: block;
}

.sidenav a:hover {
  color: #7e7e7e;
  font-size: 20px;
}


.main {
  margin-left: 240px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
