$defaultpadding: 300px;
$defaultmargin: -25px;

@mixin default_text {
  padding-left: $defaultpadding;
  position: inherit; 
  margin-top: $defaultmargin;
}

.title {
    @include default_text();
    font-family:'Bebas Neue';
  }

  .paragraph {
    @include default_text();
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: -28px; 
    font-size: 22px;
  }
  
  h2.datetitle {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #0028da;
  }
  
  .imageformat {
    padding-left: 270px;
  }
  
  button.button_socials {
    text-align: center;
    font-size: medium;
    padding: 15px 25px;
    font-family:'Ubuntu', sans-serif;
    display: inline-flexbox;
  }
  
  .sidenav {
    height: 100%; 
    width: 270px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgb(27, 24, 36);
    overflow-x: hidden; 
    padding-top: 20px;
    font-family: 'Ubuntu';
    a {
        padding: 10px 8px 10px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #ebebeb;
        display: block;
    }
    a:hover {
        color: #7e7e7e;
        font-size: 20px;
    }
  }
  

  .sidenavheader {
    padding-left: 20px; 
    color: cyan; 
    font-size: 30px;
  }
  
  
  .main {
    margin-left: 240px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  